body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
}

footer a {
    color: #e63946;
}

h2 + button {
    font-size: 20px;
    background-color: magenta;
}

footer > a {
    color: #457b9d;
}

input[type="password"] {
    color: rgb(127, 209, 33);
}

button:hover {
    background-color: #e63946;
    color: #457b9d;
}

span a:hover {
    text-decoration: overline;
}

.post button:active {
    background-color: #02c39a;
}

.post:nth-last-of-type(3n) {
    background-color: #e5da0c;
}

h2::first-letter {
    font-size: 50px;
}